/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 1px;
    padding-top: 30px;
}

.header {
    width: 100%;
    position: fixed;
    background: #b6ff00;
    padding: 10px 0;
    color: #fff;
}

footer {
    color: #fff;
    background-color: #222;
    background-image: url(../images/footer1.jpg);
    background-size: cover;
    background-position: bottom;
}

    footer p {
        color: #ccc;
    }

    footer a {
        color: #ccc;
    }

.social-pet li {
    display: inline-block;
    margin-right: 10px;
}

    .social-pet li a {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        display: block;
        line-height: 35px;
        background-color: #3a5a95;
        color: #fff;
    }

    .social-pet li:nth-child(2) a {
        background-color: #57aced;
    }

    .social-pet li:nth-child(3) a {
        background-color: #dd4f43;
    }

    .social-pet li:nth-child(4) a {
        background-color: #6b27b2;
    }

    .social-pet li a:hover {
        background-color: #0141a2;
    }

        .social-pet li a:hover i {
            transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }

.recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
}

    .recent-post li label {
        float: left;
        border: 2px solid #ccc;
        padding: 1px 7px;
        text-align: center;
    }

        .recent-post li label span {
            color: #fff;
        }

footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
}

.f-address li {
    display: inline-block;
}

    .f-address li i {
        color: #2995de;
        font-size: 18px;
    }

    .f-address li a {
        color: #ccc;
    }
/*=-Copyright-=*/
.copyright {
    background-color: #111;
    padding: 12px 0;
    font-size: 14px;
}
