<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AP_Consultancy</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="~/js/site.js" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 fixed-top">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/logo1.jpg" style="height:80px;width:200px;" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">More</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Ask a Question</a>
                                <a class="dropdown-item" href="#">Send Feedback</a>
                            </div>
                        </li>*@

                    </ul>
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Services">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About Us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="body-wrapper">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="pt-5 pb-4" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
                    <h5 class="mb-4 font-weight-bold" style="color:antiquewhite;">ABOUT US</h5>
                    <p class="mb-4">WE LOVE TO WORK ON ALL DIGITAL PLATFORM.</p>
                    <ul class="f-address">
                        <li>
                            <div class="row">
                                <div class="col-1"><i class="fas fa-map-marker"></i></div>
                                <div class="col-10">
                                    <h6 class="font-weight-bold mb-0" style="color:antiquewhite;">Address:</h6>
                                    <p>Bhopal madhya pardesh</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-1"><i class="far fa-envelope"></i></div>
                                <div class="col-10">
                                    <h6 class="font-weight-bold mb-0" style="color:antiquewhite;">Have any questions?</h6>
                                    <p><a href="#">ap_consultancy@gmailcom</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>                
                <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
                    <h5 class="mb-4 font-weight-bold" style="color:antiquewhite;">LATEST UPDATES</h5>
                    <ul class="recent-post">
                        <li>
                            <label class="mr-3">28 <br><span>APR</span></label>
                            <span>Latest updates will be written here</span>
                        </li>
                        <li>
                            <label class="mr-3">29 <br><span>APR</span></label>
                            <span>Rendomised words which dont look eveable.</span>
                        </li>
                        <li>
                            <label class="mr-3">30 <br><span>APR</span></label>
                            <span>Rendomised words which dont look eveable.</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
                    <h5 class="mb-4 font-weight-bold" style="color:antiquewhite;">CONNECT WITH US</h5>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your Email Address">
                        <span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
                    </div>
                    <ul class="social-pet mt-4">
                        <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            
        </div>

    </footer>
    <div class="copyright">
        <p style="padding-left:50px;"><a href="#"> <img src="~/images/logo2.jpg" style="height:30px;width:30px;" />  All Rights are reserved by AP_Consultancy & TechNologies</a></p>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
