@page
@model AP_Consultancy.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container" style="padding-top:50px;">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 mt-2 mb-4">
            <div class="text-area text-center">
                <h1>Things We Do!</h1>
            </div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-10 offset-1">
                                    <p>"Was very pleased with the job Deschutes Window Cleaning did on our windows. Thank you! Will definitely recommend them to anyone needing this service."</p>
                                    <small>Kim F.</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote>
                            <div class="row">
                                <div class="col-10 offset-1">
                                    <p>"Our windows are crystal clear for the first time in a long time. Thank you, Kyle! Super friendly, efficient and proficient!"</p>
                                    <small>Alice R.</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 mt-2 mb-4">
            <div class="text-area text-center">
                <h1>Customer Reviews</h1>
            </div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-10 offset-1">
                                    <p>"Was very pleased with the job Deschutes Window Cleaning did on our windows. Thank you! Will definitely recommend them to anyone needing this service."</p>
                                    <small>Kim F.</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote>
                            <div class="row">
                                <div class="col-10 offset-1">
                                    <p>"Our windows are crystal clear for the first time in a long time. Thank you, Kyle! Super friendly, efficient and proficient!"</p>
                                    <small>Alice R.</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

