@page
@model AP_Consultancy.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Conatct Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="Estimate_area overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="Estimate_info">
                    <h3>Call Us</h3>
                    <p>
                        Please let us know your requirements, we will contact you ASAP.
                    </p>
                    <a href="#" class="boxed-btn3">9116773135</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="form">
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <input type="email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-xl-12">
                                <div class="input_field">
                                    <textarea placeholder="Details About Product"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <button class="boxed-btn3-line" type="submit">Contact Me</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->
