@page
@model AP_Consultancy.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}



<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Our Services</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- service_area  -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/images/1.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Mobile App</a></h3>
                        <p>We develop Mobile Apps for both Android and IOS.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/images/2.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Websites</a></h3>
                        <p>We Brings your product online by designing websites </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="~/images/3.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">E-Commerce</a></h3>
                        <p>E-Commenrce is one of our most requested business.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/images/4.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Mobile Games</a></h3>
                        <p>We help you to develop your own style games</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/images/5.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Supprts Existing Services</a></h3>
                        <p>We gives support to your existing system and to improvr it.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="~/images/6.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Deployment and Domains</a></h3>
                        <p>We offer deployment and domains services</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ service_area  -->



<!-- Estimate_area start  -->
<div class="Estimate_area overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="Estimate_info">
                    <h3>Get free Estimate</h3>
                    <p>
                        Please let us know your requirements, we will contact you ASAP.
                    </p>
                    <a href="#" class="boxed-btn3">9116773135</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="form">
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <input type="email" placeholder="Email">
                                </div>
                            </div>
                            
                            <div class="col-xl-6">
                                <select class="form-control">
                                    <option data-display="Product type">Product type</option>
                                    <option value="1">WEB APP</option>
                                    <option value="2">Mobile App</option>
                                    <option value="3">Both</option>
                                </select>
                            </div>
                                <div class="col-xl-6">
                                    <select class="form-control">
                                        <option data-display="Product type">Category type</option>
                                        <option value="1">E-Commerce</option>
                                        <option value="2">Marketing Puspose</option>
                                        <option value="3">Exibition Pupose</option>
                                    </select>
                                </div>
                                <br /><br/>

                            <div class="col-xl-12">
                                    <div class="input_field">
                                        <textarea placeholder="Details About Product"></textarea>
                                    </div>
                                </div>
                            <div class="col-xl-12">
                                    <div class="input_field">
                                        <button class="boxed-btn3-line" type="submit">Send Estimate</button>
                                    </div>
                                </div>

                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->
